.container {
  width:800px;
  height: 600px;
  display: flex;
  background-color: grey;
}

.container1{
  display: flex;
  background-color: #bbbea0;
  width: 400px;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.item2 img {
  background-color: grey;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.item3 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.container2 {
  display: flex;
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eadacd;
  flex-grow: 1;

}

.container3 {
  display: flex;
  width: 300px;
  height: 200px;
  background-color: #d9ad99;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;

}

.columncontainer {
  display: flex;
  flex-direction: column;

}

.columncontainer h1 {
  color: white;
  font-size: 20px;
  font-family: Andale Mono, monospace	;


}

.container3 h1 {
  padding-left:10px;
}

.hobby-item img{
  height: 50px;
  width: 50px;
  padding-left: 10px;
}

.profile-right {
  display: flex;
  flex-direction: column;
}

.my-name {
  transform: translate(90px, 65px);
}

.details-container {
  display: flex;
  width: 400px;
  height: 100px;
  background-color: #d9ad99;
  flex-wrap: wrap-reverse;
  justify-content: end;
}

.details-container p{
  width: 200px;
  padding: 30px;
}

.socials-container {
  display: flex;
  width: 400px;
  height: 25px;
  background-color: #d9ad99;
  justify-content: start;  
}

.social-icon {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}