.container {
  width:800px;
  height: 600px;
  display: flex;
}

.container1{
  display: flex;
  background-color: #Ecc889;
  width: 400px;
  height: 400px;
  justify-content: space-evenly;
  align-items: center;
}

.item2 img {
  background-color: grey;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.item3 img {
  background-color: orchid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.container2 {
  display: flex;
  width: 300px;
  height: 200px;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #eadacd;

}

.container3 {
  display: flex;
  width: 300px;
  height: 200px;
  background-color: #Ecc889;
  align-items: flex-start;
}

.columncontainer {
  display: flex;
  flex-direction: column;
}